{% load flyerapp_tags %}
<div class="table-responsive">
<table class="table table-striped flights">
                <thead>
                    <tr>
                        <th>Origem</th>
                        <th class="visible-lg hidden-xs">Destino</th>
                        <th class="hidden-lg visible-xs">Destino</th>
                        <th>Decolagem</th>
                        <th>Pouso</th>
                        <th>Preço encontrado</th>
                        <th class="col-md-2">Link</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Origem</th>
                        <th class="visible-lg hidden-xs">Destino</th>
                        <th class="hidden-lg visible-xs">Destino</th>
                        <th>Decolagem</th>
                        <th>Pouso</th>
                        <th>Preço encontrado</th>
                        <th>Link</th>
                    </tr>
                </tfoot>

                <tbody>
                    {% for item in data.flights %}
                        <tr>
                            <td>{{ item.departure.name }}</td>

                            <td class="visible-lg hidden-xs">
                                {{ item.landing.name }}
                            </td>

                            <td class="hidden-lg visible-xs">
                                {{ item.landing.name }}
                            </td>
                            <td>
                                {{ item.departure_date|convertdateformat:"%d/%m/%Y"}}
                            </td>

                            <td>{{ item.landing_date|convertdateformat:"%d/%m/%Y"}}</td>

                            <td>{{item.price}}</td>
                            <td>
                                <a target="_blank" href="{{ item.link }}">{{ item.departure.name }} - {{ item.landing.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        datataTableStart(".flights", true, true);
    });
</script>