{% load flyerapp_tags %}

<!-- MODAL EDICAO - Begin -->
<script type="text/javascript">
    function leftValue( value, handle, slider ) {
        $(this).text( handle.parent()[0].style.left );
    }

    $(document).ready(function () {
        //range pesquisa
        var elidlower = "#slider-price-lower-sch-{{ schedule.id }}";
        var elidhighter = "#slider-price-highter-sch-{{ schedule.id }}";

        //preco atual
        var atualpriceelid = "#slider-atual-price-sch-{{ schedule.id }}";
        $(atualpriceelid).noUiSlider({
            start: "{{ schedule.price }}",
            step: 50,
            range: {
                'min': 200,
                'max': 5000
            }
        });
        $(atualpriceelid).Link('lower').to($("#current-sch-price-{{ schedule.id }}"));
        $(atualpriceelid).Link('lower').to($("#current-price-{{ schedule.id }}"));

        $(elidlower).noUiSlider({
            start: {{ schedule.price_lower }},
            step: 50,
            range: {
                'min': 200,
                'max': {{ schedule.price }}
            }
        });
        $(elidlower).Link('lower').to($("#current-sch-price-lower-{{ schedule.id }}"));
        $(elidlower).Link('lower').to($("#current-price-lower-{{ schedule.id }}"));

        $(elidhighter).noUiSlider({
            start: {{ schedule.price_highter }},
            step: 50,
            range: {
                'min': {{ schedule.price }},
                'max': 5000
            }
        });
        $(elidhighter).Link('lower').to($("#current-sch-price-highter-{{ schedule.id }}"));
        $(elidhighter).Link('lower').to($("#current-price-highter-{{ schedule.id }}"));

        $("#dt-start-{{ schedule.id }}").datetimepicker({
            format: 'DD/MM/YYYY',
            defaultDate: "{{ schedule.departure_date|convertdateformat:"%Y-%m-%d" }}",
            locale: 'pt-br',
            allowInputToggle: true
        });

        $("#dt-end-{{ schedule.id }}").datetimepicker({
            format: 'DD/MM/YYYY',
            defaultDate: "{{ schedule.landing_date|convertdateformat:"%Y-%m-%d" }}",
            locale: 'pt-br',
            allowInputToggle: true
        });

        $('#sch-place-{{ schedule.id }}').multiselect();
    });
</script>

<div class="modal" id="modal-schedule-edit-{{ schedule.id }}" tabindex="-1" role="dialog" aria-labelledby="schEdit"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Fechar</span></button>
                <h4 class="modal-title">Editar Pesquisa</h4>
            </div>
            <div class="modal-body">
                <form method="POST" role="form" id="frm_sch_edit">
                    <fieldset>
                        <input type="hidden" value="{{ schedule.id }}">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="sch-place-departure-{{ schedule.id }}">Origem</label>
                                    <div class='input-group'>
                                        <select id="sch-place-departure-{{ schedule.id }}" name="sch-place-departure">
                                            {% for place in places %}
                                                {% if place.id|slugify == schedule.departure.id|slugify %}
                                                    <option selected="selected" value="{{ place.id }}">{{ place.name }}</option>
                                                {% else %}
                                                    <option value="{{ place.id }}">{{ place.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="sch-place-landing-{{ schedule.id }}">Destino</label>
                                    <div class='input-group'>

                                        <select id="sch-place-landing-{{ schedule.id }}" name="sch-place-landing" multiple="multiple">
                                            {% for sch_place in schedule.landing  %}
                                                {% for place in places %}
                                                    {% if sch_place.id|slugify == place.id|slugify %}
                                                        <option selected="selected" value="{{ place.id }}">{{ place.name }}</option>
                                                    {% else %}
                                                        <option value="{{ place.id }}">{{ place.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="sch-price">Decolagem</label>
                                    <div class='input-group date' id='dt-start-{{ schedule.id }}'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="sch-price">Pouso</label>
                                    <div class='input-group date' id='dt-end-{{ schedule.id }}'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
{#                            <label class="control-label" for="sch-price">Pouso</label>#}
{#                            <div class='input-group date' id='dt-start-{{ schedule.id }}'>#}
{#                                <input type='text' class="form-control" />#}
{#                                <span class="input-group-addon">#}
{#                                    <span class="glyphicon glyphicon-calendar"></span>#}
{#                                </span>#}
{#                            </div>#}

                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="control-label" for="sch-price">Preço de busca: <b><span id="current-price-{{ schedule.id }}"></span></b></label>
                                <div id="slider-atual-price-sch-{{ schedule.id }}"></div>

                                <input type="hidden" name="sch-price" id="current-sch-price-{{ schedule.id }}">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="sch-price">Preço mínimo: <b><span id="current-price-lower-{{ schedule.id }}"></span></b></label>
                                <div id="slider-price-lower-sch-{{ schedule.id }}"></div>

                                <input type="hidden" name="sch-price-lower" id="current-sch-price-lower-{{ schedule.id }}">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="sch-price">Preço máximo: <b><span id="current-price-highter-{{ schedule.id }}"></span></b></label>
                                <div id="slider-price-highter-sch-{{ schedule.id }}"></div>

                                <input type="hidden" name="sch-price-highter" id="current-sch-price-highter-{{ schedule.id }}">
                            </div>
{##}
{#                            <div class="form-group">#}
{#                                <p>Mínimo: <span id="lower-offset-{{ schedule.id }}"></span></p>#}
{#                                <p>Máximo: <span id="upper-offset-{{ schedule.id }}"></span></p>#}
{#                                <input type="hidden" name="lprice" id="lprice-{{ schedule.id }}">#}
{#                                <input type="hidden" name="hprice" id="hprice-{{ schedule.id }}">#}
{#                            </div>#}
                        </div>


                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="bt-sch-edit-sim">Salvar</button>
            </div>
        </div>

    </div>
</div>
<!-- MODAL EDICAO- End -->