{% load flyerapp_tags %}

<!-- MODAL EDICAO - Begin -->
<script type="text/javascript">
    function leftValue( value, handle, slider ) {
        $(this).text( handle.parent()[0].style.left );
    }

    $(document).ready(function () {
{#        @TODO REFATORAR#}

        {# NEW BEGIN #}
        //range pesquisa
        var new_elidlower = "#slider-price-lower-sch";
        var new_elidhighter = "#slider-price-highter-sch";

        //preco atual
        var new_atualpriceelid = "#slider-atual-price-sch";
        $(new_atualpriceelid).noUiSlider({
            start: 300,
            step: 50,
            range: {
                'min': 200,
                'max': 5000
            }
        });
        $(new_atualpriceelid).Link('lower').to($("#current-sch-price"));
        $(new_atualpriceelid).Link('lower').to($("#current-price"));

        $(new_elidlower).noUiSlider({
            start: 100,
            step: 50,
            range: {
                'min': 200,
                'max': 5000
            }
        });
        $(new_elidlower).Link('lower').to($("#current-sch-price-lower"));
        $(new_elidlower).Link('lower').to($("#current-price-lower"));

        $(new_elidhighter).noUiSlider({
            start: 400,
            step: 50,
            range: {
                'min': 100,
                'max': 5000
            }
        });
        $(new_elidhighter).Link('lower').to($("#current-sch-price-highter"));
        $(new_elidhighter).Link('lower').to($("#current-price-highter"));

        //calendars
        $("#dt-start").datetimepicker({
            format: 'DD/MM/YYYY',
            defaultDate: "",
            locale: 'pt-br',
            allowInputToggle: true,
            minDate: {% now "d/m/Y" %}
        });
        $("#dt-end").datetimepicker({
            format: 'DD/MM/YYYY',
            defaultDate: "",
            locale: 'pt-br',
            allowInputToggle: true
        });

        $('#sch-place').multiselect();
        {# NEW END #}
    });
</script>

<!-- MODAL NOVO- End -->
<div class="modal" id="modal-schedule-new" tabindex="-1" role="dialog" aria-labelledby="schNew"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Fechar</span></button>
                <h4 class="modal-title">Nova Pesquisa</h4>
            </div>
            <div class="modal-body">
                <form method="POST" role="form" id="frm_sch_new" action="{% url 'flyerapp:edit_schedule' %}">
                    {% csrf_token %}
                    <fieldset>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="sch-place-departure">Origem</label>
                                    <div class='input-group'>
                                        <select id="sch-place-departure" name="sch-place-departure">
                                            {% for place in places %}
                                                <option value="{{ place.id }}">{{ place.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="sch-place-landing">Destino</label>
                                    <div class='input-group'>
                                        <select id="sch-place-landing" name="sch-place-landing" multiple="multiple">

                                            {% for place in places %}
                                                <option value="{{ place.id }}">{{ place.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="sch-price">Decolagem</label>
                                    <div class='input-group date' id='dt-start'>
                                        <input type='text' class="form-control" name="dt-start" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="sch-price">Pouso</label>
                                    <div class='input-group date' id='dt-end'>
                                        <input type='text' class="form-control" name="dt-end" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="control-label" for="sch-price">Preço de busca: <b><span id="current-price"></span></b></label>
                                <div id="slider-atual-price-sch"></div>

                                <input type="hidden" name="sch-price" id="current-sch-price">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="sch-price">Preço mínimo: <b><span id="current-price-lower"></span></b></label>
                                <div id="slider-price-lower-sch"></div>

                                <input type="hidden" name="sch-price-lower" id="current-sch-price-lower">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="sch-price">Preço máximo: <b><span id="current-price-highter"></span></b></label>
                                <div id="slider-price-highter-sch"></div>

                                <input type="hidden" name="sch-price-highter" id="current-sch-price-highter">
                            </div>
                        </div>


                    </fieldset>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="bt-sch-new-sim">Salvar</button>
                </div>
                </form>
            </div>
        </div>

    </div>
</div>
<!-- MODAL NOVO- End -->